<link rel="stylesheet" href="/static/editor.md/css/editormd.min.css" />
<style type="text/css">
.ui-jqgrid .ui-jqgrid-btable {
    border-left: 0px solid #E1E1E1;
}
.ui-jqgrid-bdiv {
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
}
.ui-jqgrid .ui-jqgrid-pager {
    border-left: 1px solid #E1E1E1 !important;
    border-right: 1px solid #E1E1E1 !important;
}
#contentHtml {
    border: 1px solid #e0e0e0;
    overflow:scroll;
    display:none;
}
</style>

<div class="page-header">
    <button class="btn btn-sm btn-primary" onclick="addMenu()">
        <i class="ace-icon fa fa-plus bigger-125"></i>
        <span class="bigger-115 no-text-shadow">新建菜单</span>
    </button>
     <button class="btn btn-sm btn-info" onclick="editMenu()">
        <i class="ace-icon fa fa-pencil bigger-125"></i>
        <span class="bigger-115 no-text-shadow">修改菜单</span>
    </button>
     <button class="btn btn-sm btn-success" onclick="delMenu()">
        <i class="ace-icon fa fa-minus bigger-125"></i>
        <span class="bigger-115 no-text-shadow">删除菜单</span>
    </button>
</div><!-- /.page-header -->

<div class="bottom-border"></div>

<div class="row">
    <div class="col-sm-4 col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <table id="datatable" url="/data/article/List" ></table>

        <div id="datapager"></div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
    <div class="col-sm-8 hidden-xs">
        <!-- PAGE CONTENT BEGINS -->
        <div id="contentHtml"></div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
        

<script src="/static/editor.md/lib/marked.min.js"></script>
<script src="/static/editor.md/lib/prettify.min.js"></script>
<script src="/static/editor.md/lib/flowchart.min.js"></script>
<script src="/static/editor.md/lib/raphael.min.js"></script>
<script src="/static/editor.md/lib/underscore.min.js"></script>


<script src="/static/editor.md/lib/sequence-diagram.min.js"></script>
<script src="/static/editor.md/lib/jquery.flowchart.min.js"></script>
<script type="text/javascript">
    jQuery(function($) {
        var dataGrid = new DataGrid({  
            title: '文章管理',
            tableName: 'datatable',  
            pageName: 'datapager', 
            showCheckbox: false,
            showRownum: false,
            viewrecords: false,
            rowView: false,
            // 设置数据表格列
            columnModel: [
                {name:'Id',index:'Id',hidden:true,key:true},
                {label:'用户名称',name:'Title',index:'Title',align:"center",width:100},
                {name:'',index:'', width:30, fixed:true,align:"center", sortable:false, resize:false,
                    formatter : function(value, grid, rows, state){
                        var checked = "";
                        if (rows.Status){
                            checked = "checked=\"checked\"";
                        }
                        return '<div title="" style="float:left;cursor:pointer;" class="ui-pg-div ui-inline-edit" id="jEditButton_5" onclick="editArticle('+rows.Id+')"  data-original-title="Edit selected row"><span class="ui-icon ui-icon-pencil"></span></div>';
                    }
                },
            ],
            beforefn: function(){
                $('#datatable').closest('.ui-jqgrid-view').find('div.ui-jqgrid-hdiv').remove();
                $('#contentHtml').height($('#gbox_datatable').height());
                $('#contentHtml').show();
            },
            selectfn: function(rowid){
                var data = {Id: rowid};
                SendData.Post("/data/article/InitArticle",data,function(response){
                    if (response.STATUS==1){
                        $('#contentHtml').html('<textarea id="append-md" style="display:none;">' + response["Article"].Content + '</textarea>');
                        editormd.markdownToHTML("contentHtml", {
                            markdown        : $("#append-md").val(),
                            htmlDecode      : "style,script,iframe",  // you can filter tags decode
                            emoji           : true,
                            taskList        : true,
                            tex             : true,  // 默认不解析
                            flowChart       : true,  // 默认不解析
                            sequenceDiagram : true,  // 默认不解析
                        });

                    }else{
                        BootFrame.alert(response.MESSAGE,null,"操作失败",true);
                    }
                });
            }
        });
    }); 

    function editArticle(){

    }
</script>