<link rel="stylesheet" href="/static/editor.md/css/editormd.min.css" />
<style type="text/css">
.ui-jqgrid .ui-jqgrid-btable {
    border-left: 0px solid #E1E1E1;
}
.ui-jqgrid-bdiv {
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
}
.ui-jqgrid .ui-jqgrid-pager {
    border-left: 1px solid #E1E1E1 !important;
    border-right: 1px solid #E1E1E1 !important;
}
#contentHtml {
    border: 1px solid #e0e0e0;
    overflow:scroll;
    display:none;
}
</style>

<div class="page-header">
    <button class="btn btn-sm btn-primary" id="adddir-btn">
        <span class="bigger-115 no-text-shadow">新建文件夹</span>
    </button>

     <button class="btn btn-sm btn-success" id="deldir-btn">
        <span class="bigger-115 no-text-shadow">删除文件夹</span>
    </button>

    <button class="btn btn-sm btn-primary hide" id="add-btn">
        <i class="ace-icon fa fa-plus bigger-125"></i>
        <span class="bigger-115 no-text-shadow">新建文章</span>
    </button>
</div><!-- /.page-header -->

<div class="bottom-border"></div>

<div class="row">
     <div class="col-sm-4 col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <table id="datatable" url="/data/article/List" ></table>

        <div id="datapager"></div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
    <div class="col-sm-8 hidden-xs">
        <!-- PAGE CONTENT BEGINS -->
        <div id="contentHtml"></div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
        
<script type="text/javascript">
    var type = "package";
    var packageid = 0;
    var isarticle = false;
    jQuery(function($) {
        var dataGrid = new DataGrid({  
            title: '文章管理',
            tableName: 'datatable',  
            pageName: 'datapager', 
            showCheckbox: false,
            showRownum: false,
            viewrecords: false,
            flowChart: false,
            rowView: false,
            // 设置数据表格列
            columnModel: [
                {name:'Id',index:'Id',hidden:true,key:true},
                {label:'Title',name:'Title',index:'Title',align:"center",width:100},
                {name:'',index:'', width:30, fixed:true,align:"center", sortable:false, resize:false,
                    formatter : function(value, grid, rows, state){
                        var checked = "";
                        if (rows.Status){
                            checked = "checked=\"checked\"";
                        }
                        if(typeof(rows.PackageId) != 'undefined'){
                             return '<div title="" style="float:left;cursor:pointer;" class="ui-pg-div ui-inline-edit" id="jEditButton_5" onclick="editArticle('+rows.Id+')"  data-original-title="Edit selected row"><span class="ui-icon ui-icon-pencil"></span></div>';
                         }else{
                            return '<div title="" style="float:left;cursor:pointer;" class="ui-pg-div ui-inline-edit" id="jEditButton_5" onclick="goArticles('+rows.Id+',\''+rows.Title+'\')"  data-original-title="Edit selected row"><span class="ui-icon fa fa-share"></span></div>';
                         }
                    }
                },
            ],
            beforefn: function(){
                $('#datatable').closest('.ui-jqgrid-view').find('div.ui-jqgrid-hdiv').remove();
                $('#contentHtml').height($('#gbox_datatable').height());
                $('#contentHtml').show();
            },
            selectfn: function(rowid){
                if(type == "package"){
                    return;
                }
                if (!isarticle){
                    isarticle = true;
                    return;
                }
                var data = {Id: rowid};
                SendData.Post("/data/article/InitArticle",data,function(response){
                    if (response.STATUS==1){
                        $('#contentHtml').html('<textarea id="append-md" style="display:none;">' + response["Article"].Content + '</textarea>');
                        editormd.markdownToHTML("contentHtml", {
                            markdown        : $("#append-md").val(),
                            htmlDecode      : "style,script,iframe",  // you can filter tags decode
                            emoji           : true,
                            taskList        : true,
                            tex             : true,  // 默认不解析
                            flowChart       : false,  // 默认不解析
                        });

                    }else{
                        BootFrame.alert(response.MESSAGE,null,"操作失败",true);
                    }
                });
            },
            onbdclickfn: function(rowid,iRow,iCol,e){
                if(type == "package"){
                    isarticle = true;
                    goArticles(rowid,$(e.target).html());
                }else{
                    $('#main').load('/data/article/InitPage?Id='+rowid+'&tm='+new Date().getTime());     
                }
            },
            gridfn: function(){
                $("#datatable").setSelection(1,true);
            }
        });

        $('#add-btn').on(ace.click_event, function () {
            $('#main').load('/data/article/InitPage?PackageId='+packageid+'&tm='+new Date().getTime()); 
        });

        $('#adddir-btn').on(ace.click_event, function () {
            var bf = BootFrame.dialog();
            bf.title("新建文件夹");
            bf.url('/data/package/InitPage');
            bf.width(500);
            bf.height(80);
            bf.addButton("确认",save,null,13);
            bf.show();
        });

        $('#deldir-btn').on(ace.click_event, function () {
            BootFrame.confirm("确认删除此文件夹?",function(){
                var ids = DataGrid.getSelectRowIds("datatable");
                SendData.Post("/data/package/Del",{"Ids":ids.join(",")},function(response){
                    if ( response.STATUS==1){
                        BootFrame.alert(response.MESSAGE,function(){
                            DataGrid.loadData('datatable');
                        });
                    }else{
                        BootFrame.alert(response.MESSAGE,function(){
                        },"操作失败",true);
                    }
                });
            });
        });
    }); 

    function save(bf, but){
        if (!bf.verifyForm()){
                return;
        }
        but.disable();  //禁止点击按钮
        but.spin();     //增加按钮等待图标
        SendData.Post("/data/package/Save",bf.getFormData(),function(response){
            if ( response.STATUS==1){
                BootFrame.alert(response.MESSAGE,function(){
                    DataGrid.loadData('datatable');
                    bf.close()
                });
            }else{
                BootFrame.alert(response.MESSAGE,function(){
                    but.enable();   //解除按钮点击
                    but.stopSpin(); //清楚等待图标
                },"操作失败",true);
            }
        });
    }
    
    function backDir(){
        DataGrid.setParams("datatable","type","package");
        DataGrid.loadData("datatable");
        type = "package";
        DataGrid.setTitle("datatable","文章管理");
        $('#add-btn').hide();
        $('#adddir-btn').show();
        $('#deldir-btn').show();
        isarticle = false;
    }

    function goArticles(rowid,title){
        DataGrid.setParams("datatable","type","article");
        DataGrid.setParams("datatable","PackageId",rowid);
        DataGrid.setParams("datatable","page",1);
        DataGrid.loadData("datatable");
        DataGrid.setTitle("datatable",'<span class="jqgrid-title-span" onclick="backDir()"><i class="fa fa-reply"></i>  '+title+'</span>')  
        packageid = rowid;
        $('#add-btn').removeClass('hide');
        $('#add-btn').show();
        $('#adddir-btn').hide();
        $('#deldir-btn').hide();
        type = "article";
    }

    function editArticle(rowid){
        $('#main').load('/data/article/InitPage?Id='+rowid+'&tm='+new Date().getTime()); 
    }
</script>