<link rel="stylesheet" href="/static/editor.md/css/editormd.min.css" />


<div style="padding-bottom: 8px;">

<form id="form1">

<input type="hidden" id="Id" name="Id" value="{{.Article.Id}}" />
<input type="hidden" id="PackageId" name="PackageId" value="{{if .Article.PackageId}}{{.Article.PackageId}}{{else}}{{.Request.PackageId}}{{end}}" />
<div class="btn-group" style="float: left;">
<button type="button" class="btn btn-inverse" id="back-btn">
    <i class="fa fa-angle-left"></i>
</button>
</div>

<input type="text" id="Title" name="Title" value="{{.Article.Title}}" placeholder="请输入文章标题" style="border: 0;font-size: 18px;width: 60%;color: #438eb9;"/>

    <div class="btn-group" style="float: right;">

        <button type="button" style="width:58px;" class="btn btn-inverse" id="save-btn" data-loading-text="<i class='fa fa-spinner fa-spin bigger-125'></i>">
        保存
        </button>

        <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
            <span class="ace-icon fa fa-caret-down icon-only"></span>
        </button>

        <ul class="dropdown-menu dropdown-inverse" style="min-width: 80px;">
            <li>
                <a href="#;" onclick="pushArticle()">发布</a>
            </li>

            <li class="divider"></li>

            <li>
                <a href="#;" onclick="delArticle()">删除</a>
            </li>
        </ul>
    </div><!-- /.btn-group -->
</div>

<div id="layout" >
    <div id="test-editormd">
        <textarea id="Content" name="Content" style="display:none;">{{.Article.Content}}</textarea>
    </div>
</div>

</form>

        
<script type="text/javascript">

    var emd;
    $(function() {                
        emd = editormd("test-editormd", {
            width        : "100%",
            height       : $(window).height() - 140,
            delay        : 1000,  
            theme        : (localStorage.theme) ? localStorage.theme : "dark",
            previewTheme : "default", 
            watch        : $(window).width() > 767 ? true : false, //实时预览
            //toolbar    : false, //工具栏
            editorTheme  : (localStorage.editorTheme) ? localStorage.editorTheme : "pastel-on-dark", 
            path         : '/static/editor.md/lib/',
            toolbarIconsClass : {
                uploadimage : "fa-picture-o"  // 指定一个FontAawsome的图标类
            },
            htmlDecode   : "style,script,iframe",
            toolbarIcons : function() {
                return ["bold", "del", "italic", "quote", "ucwords", "uppercase", "lowercase", "|", 
    "h1", "h2", "h3", "h4", "h5", "h6", "|", 
    "list-ul", "list-ol", "hr", "|",
    "link", "reference-link", "uploadimage", "code", "preformatted-text", "code-block", "table", "datetime", "html-entities", "pagebreak", "|", "watch", "preview", "fullscreen", "search"]
            },
            toolbarHandlers : {
                /**
                 * @param {Object}      cm         CodeMirror对象
                 * @param {Object}      icon       图标按钮jQuery元素对象
                 * @param {Object}      cursor     CodeMirror的光标对象，可获取光标所在行和位置
                 * @param {String}      selection  编辑器选中的文本
                 */
                uploadimage : function(cm, icon, cursor, selection) {
                    var bf = BootFrame.dialog();
                    bf.id("imageselect");
                    bf.title("选择图片");
                    bf.url('/data/image/InitPage');
                    bf.width(800);
                    bf.height(500);
                    bf.addButton("确认",function(){
                        var imgurl = getImgUrl();
                        //var cursor    = cm.getCursor();     //获取当前光标对象，同cursor参数
                        //var selection = cm.getSelection();  //获取当前选中的文本，同selection参数
                        cm.replaceSelection("![](" + imgurl + ")");
                        bf.close();
                    },null,13);
                    bf.onshow(function(){
                       
                    });
                    bf.show();
                }
            },
            onload : function() {
                this.cm.on("keydown", function(cm,e){
                    var keyCode = e.keyCode || e.which || e.charCode;
                    var ctrlKey = e.ctrlKey || e.metaKey;
                    if(ctrlKey && keyCode == 83) {
                        
                        var btn = $('#save-btn');
                        btn.button('loading')
                        saveArticle(function(){
                            btn.button('reset');
                        });
                        e.preventDefault();
                    }
                    if(ctrlKey && keyCode == 65) {
                        cm.execCommand("selectAll");
                        e.preventDefault();
                    }
                });
            }
        });
        emd.setToolbarAutoFixed(false);

        $('#save-btn').on(ace.click_event, function () {
            var btn = $(this);
            btn.button('loading')
            saveArticle(function(){
                btn.button('reset');
            });
        });
        $('#back-btn').on(ace.click_event, function () {
            $('#main').load('/platform/article/article.html?_pjax=%23main'); 
        });
    });

    function saveArticle(fn){
        var data = $('#form1').serializeJson();
        if(data['Title'] == ''){
            BootFrame.alert('请输入文章标题',fn,"操作失败",true);
            return;
        }
        data['Content'] = emd.getMarkdown();
        SendData.Post("/data/article/Save",data,function(response){
            if (response.STATUS==1){
                $('#Id').val(response.Id);
                fn();
                BootFrame.gritter(response.MESSAGE);
            }else{
                fn();
                BootFrame.alert(response.MESSAGE,null,"操作失败",true);
            }
        });
    }

    function delArticle(){
        var data = $('#form1').serializeJson();
        if(data['Id'] == ''){
            $('#main').load('/platform/article/article.html?_pjax=%23main'); 
            return;
        }
        SendData.Post("/data/article/Del",data,function(response){
            if (response.STATUS==1){
                BootFrame.gritter(response.MESSAGE);
                $('#main').load('/platform/article/article.html?_pjax=%23main'); 
            }else{
                BootFrame.alert(response.MESSAGE,null,"操作失败",true);
            }
        });
    }

    function pushArticle(){
        var data = $('#form1').serializeJson();
        if(data['Title'] == ''){
            BootFrame.alert('请输入文章标题',fn,"操作失败",true);
            return;
        }
        data['Content'] = emd.getMarkdown();
        $('#save-btn').button('loading');
        data['Status'] = 1;
        SendData.Post("/data/article/Save",data,function(response){
            if (response.STATUS==1){
                BootFrame.gritter(response.MESSAGE);
            }else{
                BootFrame.alert(response.MESSAGE,null,"操作失败",true);
            }
            $('#save-btn').button('reset');
        });
    }
</script>











