	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal" id="userform" role="form">
				<input type="hidden" id="Id" value="{{.User.Id}}" />
				{{if .User.Id}}
				<gotext data-rel="tooltip" type="text" placeholder="请输入用户名称" title="2-10个字母或数字" data-placement="bottom" readonly="readonly" id="UserName" value="{{.User.UserName}}" verify="required" >用户名称</gotext>
				{{else}}

				<gotext data-rel="tooltip" type="text" placeholder="请输入用户名称" title="2-10个字母或数字" data-placement="bottom" id="UserName"  value="{{.User.UserName}}" verify="required" >用户名称</gotext>
				
				<gotext data-rel="tooltip" type="password" placeholder="请输入密码" title="4-18个字符" data-placement="bottom" id="Password" verify="required" value="{{.User.Password}}" style="width: 200px;">密码</gotext>
				
				<gotext data-rel="tooltip" type="password" placeholder="请重复输入密码" title="4-18个字符" data-placement="bottom" id="RePassword" verify="required;equalTo('#Password')" style="width: 200px;">重复密码</gotext>
				{{end}}

				<gotext data-rel="tooltip" type="text" placeholder="请输入真实姓名" title="2-10个汉字或字母" data-placement="bottom" id="RealName"  value="{{.User.RealName}}" verify="required" >真实姓名</gotext>

				<gotext data-rel="tooltip" type="text" placeholder="请输入电子邮箱" title="请输入电子邮箱" data-placement="bottom" id="Email" value="{{.User.Email}}" verify="email" >电子邮箱</goinput>

				<gotext data-rel="tooltip" type="text" placeholder="请输入联系电话" title="请输入联系电话" data-placement="bottom" id="Phone" value="{{.User.Phone}}" verify="maxlength(11);minlength(11)" >联系电话</gotext>
			</form>
		</div>
	</div>
	 <script type="text/javascript">
		$(document).ready(function() {
        $('#userform').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                UserName: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The username is required and can\'t be empty'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'The username must be more than 6 and less than 30 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'The username can only consist of alphabetical, number, dot and underscore'
                        }
                    }
                }
            }
        });
    })
    </script>
