    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="userform" role="form">
                <input type="hidden" id="Id" value="{{.User.Id}}" />
                <div class="form-group has-feedback">
                    <label class="col-sm-3 control-label no-padding-right">用户名称</label>
                    <div class="col-sm-9">
                        <span class="input-icon input-icon-right control-label">
                            {{.User.UserName}}
                        </span>
                    </div>
                </div>

                <gotext data-rel="tooltip" type="password" placeholder="请输入密码" title="4-18个字符" data-placement="bottom" id="Password"  value="" style="width: 200px;" verify="notEmpty;identical(RePassword)">密码</gotext>
                
                <gotext data-rel="tooltip" type="password" placeholder="请重复输入密码" title="4-18个字符" data-placement="bottom" id="RePassword"  style="width: 200px;" verify="notEmpty;identical(Password)">重复密码</gotext>
               
            </form>
        </div>
    </div>
