	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal" id="userform" role="form">
				<input type="hidden" id="Id" value="{{.User.Id}}" />
				{{if .User.Id}}
				<gotext data-rel="tooltip" type="text" placeholder="请输入用户名称" title="2-10个字母或数字" data-placement="bottom" readonly="readonly" id="UserName" value="{{.User.UserName}}" verify="notEmpty" >用户名称</gotext>
				{{else}}

				<gotext data-rel="tooltip" type="text" placeholder="请输入用户名称" title="2-10个字母或数字" data-placement="bottom" id="UserName"  value="{{.User.UserName}}" verify="notEmpty|用户名称不可为空;regexp(/^[a-zA-Z0-9_\.]+$/)|大小写字母+数字;remote(/data/user/VerifyUserName,4)|用户名已存在">用户名称</gotext>
				
				<gotext data-rel="tooltip" type="password" placeholder="请输入密码" title="4-18个字符" data-placement="bottom" id="Password"  value="{{.User.Password}}" style="width: 200px;" verify="notEmpty;identical(RePassword)">密码</gotext>
				
				<gotext data-rel="tooltip" type="password" placeholder="请重复输入密码" title="4-18个字符" data-placement="bottom" id="RePassword"  style="width: 200px;" verify="notEmpty;identical(Password)">重复密码</gotext>
				{{end}}

				<gotext data-rel="tooltip" type="text" placeholder="请输入真实姓名" title="2-10个汉字或字母" data-placement="bottom" id="RealName"  value="{{.User.RealName}}"  >真实姓名</gotext>

				<gotext data-rel="tooltip" type="text" placeholder="请输入电子邮箱" title="请输入电子邮箱" data-placement="bottom" id="Email" value="{{.User.Email}}" verify="emailAddress;notEmpty;remote(/data/user/VerifyEmail,6)|电子邮箱已存在" >电子邮箱</goinput>

				<gotext data-rel="tooltip" type="text" placeholder="请输入联系电话" title="请输入联系电话" data-placement="bottom" id="phone" value="{{.User.Phone}}" verify="phone" >联系电话</gotext>
			</form>
		</div>
	</div>
