<!DOCTYPE html>

<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>登录</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

         <link rel="stylesheet" href="static/font-awesome/4.5.0/css/font-awesome.min.css" />

        <!-- CSS -->
        <link rel="stylesheet" href="/static/assets/css/reset.css">
        <link rel="stylesheet" href="/static/assets/css/supersized.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">

        {{str2html "<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->"}}
        {{str2html "<!--[if lt IE 9]>"}}
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        {{str2html "<![endif]-->"}}
    </head>
    <body>

        <div class="page-container">


            <h1><i class="ace-icon fa fa-leaf" style="color:#78efe1;padding-top: 20px;"></i> 欢迎登录</h1>

            <div id="message">&nbsp;</div>

            <form id="loginform">
                
                <input type="text" name="username" id="username" class="username" placeholder="请输入用户名">

                <input type="password" name="password" id="password" class="password" placeholder="请输入密码">

                <button type="button" id="login">登&nbsp;录</button>

                <div id="error" class="error"><span>+</span></div>

            </form>

            <div class="connect">

                <p>Or connect with:</p>

                <p>

                    <a class="facebook" href=""></a>

                    <a class="twitter" href=""></a>

                </p>

            </div>

        </div>

        <!-- Javascript -->
        <!--[if !IE]> -->
        <script src="static/js/jquery-2.1.4.min.js"></script>
        <!-- <![endif]-->

        <!--[if IE]>
        <script src="static/js/jquery-1.11.3.min.js"></script>
        <![endif]-->

        <script src="/static/assets/js/supersized.3.2.7.min.js"></script>

        <script type="text/javascript">
            jQuery(function($){
                $.supersized({
                    // Functionality
                    slide_interval     : 4000,    // Length between transitions
                    transition         : 1,    // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
                    transition_speed   : 1000,    // Speed of transition
                    performance        : 1,    // 0-Normal, 1-Hybrid speed/quality, 2-Optimizes image quality, 3-Optimizes transition speed // (Only works for Firefox/IE, not Webkit)

                    // Size & Position
                    min_width          : 0,    // Min width allowed (in pixels)
                    min_height         : 0,    // Min height allowed (in pixels)
                    vertical_center    : 1,    // Vertically center background
                    horizontal_center  : 1,    // Horizontally center background
                    fit_always         : 0,    // Image will never exceed browser width or height (Ignores min. dimensions)
                    fit_portrait       : 1,    // Portrait images will not exceed browser height
                    fit_landscape      : 0,    // Landscape images will not exceed browser width

                    // Components
                    slide_links        : 'blank',    // Individual links for each slide (Options: false, 'num', 'name', 'blank')
                    slides             : [    // Slideshow Images
                                             {image : '/static/assets/img/backgrounds/1.jpg'},
                                             {image : '/static/assets/img/backgrounds/2.jpg'},
                                             {image : '/static/assets/img/backgrounds/3.jpg'}
                                         ]
                });

                //Debug模式下默认初始用户密码
                $("#username").val('admin');
                $("#password").val('admin');
                $("#username").focus();

                //焦点在输入框时回车键执行事件
                $(document).on('keydown','input.form-control', function(evt){
                    if(evt.keyCode==13){
                        $('#login').click();
                        evt.preventDefault();
                        evt.stopPropagation();
                    }
                });

                 $("#login").on('click',function(e){
                    var username = $("#username").val();
                    var password = $("#password").val();
                    if(username == '') {
                        $('#message').html('请输入用户名！');
                        $('.error').fadeIn('fast', function(){
                            $('#loginform').parent().find('.username').focus();
                        });
                        return false;
                    }
                    if(password == '') {
                        $('#message').html('请输入密码！');
                        $('.error').fadeIn('fast', function(){
                            $('#loginform').parent().find('.password').focus();
                        });
                        return false;
                    }
                    $.post("/login", { username: username,password: password},function(json){
                            if ( json.status == 1){
                                window.location.href = json.link;
                            }else{
                                $('#message').html(json.msg);
                                $('.error').fadeIn('fast', function(){
                                    $('#loginform').parent().find('.username').focus();
                                });
                            }
                        }
                    );
                });

                $('.page-container form .username, .page-container form .password').keyup(function(){
                    $('.error').fadeOut('fast');
                    $('#message').html('&nbsp;');
                });

            });
        </script>

    </body>

</html>