                         <div class="page-header">
                            <button class="btn btn-sm btn-primary" id="addbutton" onclick="addMenu()">
                                <i class="ace-icon fa fa-plus bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">新建菜单</span>
                            </button>
                             <button class="btn btn-sm btn-info">
                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">修改菜单</span>
                            </button>
                             <button class="btn btn-sm btn-success">
                                <i class="ace-icon fa fa-minus bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">删除菜单</span>
                            </button>
                             <button class="btn btn-sm btn-purple">
                                <i class="ace-icon fa fa-search-plus bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">查看菜单</span>
                            </button>
                        </div><!-- /.page-header -->

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <table id="datatable" url="/data/menu/List" addsave="/data/menu/Save" istree="true" treeColumn="MenuName"></table>

                                <div id="datapager">
                                    

                                </div>

                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

        <!-- jgrid -->
        <script type="text/javascript">

        // $("#addbutton").on(ace.click_event, function() {
        //     bootbox.confirm("Are you sure?", function(result) {
        //                 if(result) {
        //                     //
        //                 }
        //             });
        //     bootbox.prompt("What is your name?", function(result) {
        //         if (result === null) {
                    
        //         } else {
                    
        //         }
        //     });
        // });

        function addMenu(){
            bootbox.dialog({
                title: "新建菜单",
                message: "<span class='bigger-110'>I am a custom dialog with smaller buttons</span>",
                buttons:
                {
                    "success" :
                     {
                        "label" : "<i class='ace-icon fa fa-check'></i> Success!",
                        "className" : "btn-sm btn-success",
                        "callback": function() {
                            //Example.show("great success");
                        }
                    },
                    "danger" :
                    {
                        "label" : "Danger!",
                        "className" : "btn-sm btn-danger",
                        "callback": function() {
                            //Example.show("uh oh, look out!");
                        }
                    }, 
                    "click" :
                    {
                        "label" : "Click ME!",
                        "className" : "btn-sm btn-primary",
                        "callback": function() {
                            //Example.show("Primary button");
                        }
                    }, 
                    "button" :
                    {
                        "label" : "Just a button...",
                        "className" : "btn-sm"
                    }
                }
            });
        }

        function test(){
            DataGrid.loadData('datatable');
            var ids = DataGrid.getSelectRowData('datatable');
            var data = DataGrid.getSelectRowData('datatable');
            //alert(data)
        }

             jQuery(function($) {
                var dataGrid = new DataGrid({  
                    title: '菜单管理',
                    tableName: 'datatable',  
                    pageName: 'datapager', 
                    // 设置数据表格列
                    columnModel: [  
                        {name:'Id',index:'Id',hidden:true,key:true},
                        {label:'菜单名称',name:'MenuName',index:'MenuName',width:90},
                        {label:'图标',name:'Icon',index:'Icon', width:150},
                        {label:'链接',name:'Link',index:'Link', width:70},
                        {label:'层级ID',name:'InnerCode',index:'InnerCode', width:90},
                        {label:'添加时间',name:'AddTime',index:'AddTime', width:150,formatter: 'date',formatoptions:{srcformat: 'Y-m-dTH:i:s',newformat: 'Y-m-d H:i:s'}}
                    ]
                });
            });
        </script>
