                         <div class="page-header">
                            <h1>
                                <a href="javascript:void(0);" onclick="test()">菜单管理</a>
                                <small>
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                </small>
                            </h1>
                        </div><!-- /.page-header -->

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->

                                 <!--
                                 <table id="datatable" url="/data/menu/List" pkcolumn="Id" istree="true"></table>
`                                -->
                                <table id="datatable" url="/data/menu/List" addsave="/data/menu/Save" pkcolumn="Id" istree="true"></table>

                                <div id="datapager"></div>

                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

        <!-- jgrid -->
        <script type="text/javascript">

        function test(){
            
            var ids=DataGrid.getSelectRowIds('datatable');
          //  var celldata = $("#datatable").jqGrid('getCell',ids,'Id');
//            var rowData = $('#datatable').jqGrid('getRowData',ids);
            if(ids.length > 0){
                alert(ids[0]+"---"+ids.length)
            }
  //          alert(celldata)
        }

             jQuery(function($) {
                var dataGrid = new DataGrid({  
                    title: '菜单管理',
                    tableName: 'datatable',  
                    pageName: 'datapager', 
                    treeColumn: 'MenuName',
                    // 设置数据表格列
                    columnModel: [  
                        {name:'Id',index:'Id',width:90, editable:true,hidden:true},
                        {header:'菜单名称',name:'MenuName',index:'MenuName',width:90, editable:true},
                        {header:'图标',name:'Icon',index:'Icon', width:150,editable: true},
                        {header:'链接',name:'Link',index:'Link', width:70, editable: true},
                        {header:'层级ID',name:'InnerCode',index:'InnerCode', width:90, editable: true},
                        {header:'添加时间',name:'AddTime',index:'AddTime', width:150, editable: false,unformat: pickDate} ,
                        {header:'操作',name:'Id',index:'', width:80, fixed:true, sortable:false, resize:false,
                            formatter:'actions', 
                            formatoptions:{ 
                                keys:true,
                                delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback},
                            }
                        }
                    ]
                });  
            });
        </script>
