                         <div class="page-header">
                            <h1>
                                菜单管理
                                <small>
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                </small>
                            </h1>
                        </div><!-- /.page-header -->

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->

                                <table id="grid-table" url="/data/menulist" pkcolumn="Id" istree="false"></table>

                                <div id="grid-pager"></div>

                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

        <!-- jgrid -->

        <script type="text/javascript">
            jQuery(function($) {
                var dataGrid = new DataGrid({  
                    title: '菜单管理',
                    tableName: 'grid-table',  
                    pageName: 'grid-pager', 
                    // 设置数据表格列  
                    columnModel: [  
                        {header:'菜单名称',name:'MenuName',index:'sdate',width:90, editable:true,sortable:false},
                        {header:'图标',name:'Icon',index:'MenuName', width:150,editable: true},
                        {header:'链接',name:'Link',index:'Link', width:70, editable: true,sortable:false},
                        {header:'层级ID',name:'InnerCode',index:'InnerCode', width:90, editable: true},
                        {header:'添加时间',name:'AddTime',index:'AddTime', width:150, editable: true,sorttype:"date",unformat: pickDate} ,
                        {header:'操作',name:'Id',index:'', width:80, fixed:true, sortable:false, resize:false,
                            formatter:'actions', 
                            formatoptions:{ 
                                keys:true,
                                delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback},
                            }
                        }
                    ]
                });  
            });
        </script>
