<!DOCTYPE html>
<html>
<head>
    <title>{{config "String" "appname" ""}}</title>
    
    {{template "front/include.tpl" .}}
</head>
<body>

    <div class="middle-banner">
        <span><img class="home" src="static/front/images/menu.png" alt=""> </span>
        <span>politics</span>
        <h3>Cameron Set to Return With U.K. Majority as SNP Sweeps Scotland</h3>
    </div>
    <div class="author-post">
        <div class="col-md-2 post-by">
            <h6>by</h6>
            <a href="#">Robert Hutton,</a>
            <a href="#">Svenja O'Donnell</a>and 
            <a href="#">Thomas Penny</a>
            <div class="social-icons">
                <ul>
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="twitter"></a></li>
                    <li><a href="#" class="googlepluse"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 article-text">
            <h4>David Cameron is poised to return as U.K. prime minister after steering his Conservatives to an unexpected majority, helped by a landslide for nationalists in Scotland at Labour’s expense.

                The pound jumped as projections of the final tally in the British general election indicated that the Conservatives had defied opinion polls to easily defeat Ed Miliband’s Labour Party. With most seats declared, the BBC forecast the Tories to take 331 of Parliament’s 650 seats to Labour’s 232 seats, a result that would allow Cameron to ditch his Liberal Democrat coalition partner of the past five years and govern alone.</h4>
            <img src="static/front/images/quote1.jpg" class="text-center" alt="" />
            <h3>The Sweetest <i>Victory </i>of All</h3>
            <img src="static/front/images/quote2.jpg" alt="" />
            <h4>Cameron hailed the election outcome as the “the sweetest victory of all” and a vindication of the Tory campaign based on his record of producing an economic recovery and cutting a record budget deficit. The result also raises the prospect of a referendum on whether Britain should remain in the European Union, while the surge in support for the Scottish National Party renews questions over the integrity of the United Kingdom just eight months after Scots voted “No” to independence.
            </h4>

            <ul class="categories">
                <li><a href="#">markets</a></li>
                <li><a href="#">business</a></li>
                <li><a href="#">sport</a></li>
                <li><a href="#">special reports</a></li>
                <li><a href="#">culture</a></li>
            </ul>
            <div class="clearfix"></div>
            
            <div class="comments">
                <h5>Comments</h5>
                <div class="comment">
                    <div class="client">
                        <img src="static/front/images/c1.jpg" alt="" />
                    </div>
                    <div class="client-message">
                        <p><a href="#">john doe</a><i class="date"></i>2 hours ago</p>
                        <h6>While Cameron has had a great night, I suspect his problems in some way have only just begun.</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="comment">
                    <div class="client">
                        <img src="static/front/images/c2.jpg" alt="" />
                    </div>
                    <div class="client-message">
                        <p><a href="#">Allon poe</a><i class="date"></i>6 hours ago</p>
                        <h6>The debate over EU membership is likely to come up pretty quickly and could prove a significant distraction for business and government.</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your comment...';}" required="">Your comment...</textarea>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    {{template "front/footer.tpl" .}}
</body>
</html>