<!DOCTYPE html>
<html>
<head>
    <title>{{"Name" | SiteConfig}}</title>

    {{template "front/include.tpl" .}}
    <link rel="stylesheet" href="static/front/css/autocomplete.css">

<style type="text/css">
    body{
        background-color: {{"BackgroundColor" | SiteConfig}};
    }
    h3 {
        font-family: cursive;
        padding-bottom: 15px;
    }
    .autocomplete-input {
        box-sizing: initial;
    }
    .autocomplete-button {
        box-sizing: initial;
    }

    @media (max-width: 380px) {
        .autocomplete-input {
            width: 260px !important;
        }
        .autocomplete-container {
            width: 330px !important;
        }
    }
</style>

</head>
<body>

    <div class="middle-banner">
        <div class="home">
            <div class="top-menu">
            <span class="menu"><a href="{{"Host" | SiteConfig}}"><img src="static/front/images/home.png" alt=""></a></span>
            </div>
        </div>
        <div class="logo text-center">
             <div id="search-form" style="height: 60px;"></div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="total-content">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="top-news content-hide" id="list1" dataurl="/search/Search?q={{.Request.q}}&p={{.Request.p}}" page="true" autoshow="true">
                    <h2><a href="article?id=${Id}" class="morenews">${Title}</a></h2>
                    <div>${Content}</div>
                    <p>
                        <a href="#"><i class="commenticon"></i></a>
                        <a href="#">${AddUser}</a> 
                        <i class="date"></i>
                        ${AddTime_DATE_yyyy-MM-dd hh:mm:ss}
                    </p>
                </div>
                <div align="center">
                    <ul class="pagination" pagebar="true" id="pagebar"></ul>
                </div>
            </div>
    </div>

    <div class="clearfix"></div>

     {{template "front/footer.tpl" .}}

    <script type="text/javascript" src="static/front/js/autocomplete.js"></script>
    
    <script type="text/javascript">
        jQuery(function($) {
            $('#search-form').autocomplete({
                width: 500,
                height: 30,
                placeholder: '请输入您要搜索的关键词',
                buttonText: '搜索',
                value: '{{.Request.q}}',
                onSubmit: function(text){
                    if(text){
                        window.location.href = "search?q=" + text;               
                    }
                }
            });

            DataList({
                list: "list1",
                pagebar: "pagebar",
                currentClass: "current",
                nocurrentClass: "nocurrent",
                emptyHtml: '<div class="shake animated" style="font-size:1.5em;margin-top:5em;color:#fff;text-align:center;">没有查询到包含<mark>{{.Request.q}}</mark>的文章，请换一个关键词试试。</div>',
                size: 10
            });
           
        });
    </script>
</body>
</html>