/*! GL Style */
body {
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  overflow-y: overlay;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}

@media (min-width: 768px)
.modal-dialog {
    margin-top: 10%;
}

.modal-dialog {
    margin-top: 10%;
}

.footer {
    padding-top: 0px;
}

.ui-jqgrid .tree-wrap-ltr {
    float: left;
}
.ui-jqgrid-pager {
    height: 50px !important;
}
.ui-th-div {
    text-align: center;
}

/* positioning */

.ui-icon-triangle-1-n {background-image: url(/static/images/ui-icons_256x240.png); background-position: 0 -16px; }
.ui-icon-triangle-1-ne {background-image: url(/static/images/ui-icons_256x240.png); background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-image: url(/static/images/ui-icons_256x240.png);background-position: -32px -16px; }
.ui-icon-triangle-1-se {background-image: url(/static/images/ui-icons_256x240.png); background-position: -48px -16px; }
.ui-icon-triangle-1-s {background-image: url(/static/images/ui-icons_256x240.png); background-position: -64px -16px; }
.ui-icon-triangle-1-sw {background-image: url(/static/images/ui-icons_256x240.png); background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-image: url(/static/images/ui-icons_256x240.png);background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-image: url(/static/images/ui-icons_256x240.png);background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-image: url(/static/images/ui-icons_256x240.png);background-position: -128px -16px; }
.ui-icon-triangle-2-e-w {background-image: url(/static/images/ui-icons_256x240.png); background-position: -144px -16px; }

.ui-icon-radio-off { background-image: url(/static/images/ui-icons_256x240.png);background-position: -96px -144px; }
.ui-icon-radio-on { background-image: url(/static/images/ui-icons_256x240.png);background-position: -112px -144px; }



/* jqGrid 的第一列被ace在修改页面给隐藏了这里展示 */
.EditTable tr:first-child  {
    display:table-row !important;
}

tr.jqgrow {
    height: 39px;
}



/* 页头按钮栏格式覆盖 */
.page-header {
    padding-bottom: 10px;
    padding-top: 0px;
}
.page-header button{
    width: 105px;
    margin-top: 5px;
}

/* bootstrap-dialog 头部的关闭按钮大小调整（覆盖ace）*/
.bootstrap-dialog-close-button .close {
    font-size: 21px;
}

/* 鼠标经过输入框改变边框颜色 */
input[type=text]:hover,select:hover{
    border: 1px solid #ffb752;
}

/* 输入框与下拉框默认宽度设置 */
.modal-dialog input[type=text],.modal-dialog select{
    width: 200px;
}

/* dialog框增加滚动条 */
.modal-body {
    overflow-y: overlay;
}

/* jdGrid 开关大小样式调整 */
.jqgrow input[type=checkbox].ace.ace-switch+.lbl {
      min-height: 0px;
}
.jqgrow input[type=checkbox].ace.ace-switch.ace-switch-4+.lbl::before, input[type=checkbox].ace.ace-switch.ace-switch-5+.lbl::before{
    line-height: 18px;
    height: 20px;
}
.jqgrow input[type=checkbox].ace.ace-switch.ace-switch-4+.lbl::after, input[type=checkbox].ace.ace-switch.ace-switch-5+.lbl::after{
    height: 16px;
    line-height: 16px
}
.jqgrow td>label, th>label {
    margin-bottom: -4px;
}

/* jquery gritter 强制居中*/
#gritter-notice-wrapper {
    position: fixed;
    margin: 0 auto;
    top: 20px;
    left: 0;
    right: 0;
    width: 301px;
    z-index: 9999;
}
.gritter-radius {
    border-radius:10px;  
}

/* 进度条 */
.progress {
    margin-bottom: 0px;
}
.progress-label {
    width: 65px;
    height: 22px;
    position: absolute;
    left: 48%;
    font-weight: bold;
    text-shadow: 1px 1px 0 #71b565;
    background-color: initial;
    color: #337ab7;
    font-size: 15px;
}

/* 上传控件 */
.btns{
    float: left;
    height: 36px;
    width: 66px;
}
.webuploader-pick {
    padding: 5px;
}
.uploader-list {
    float: left;
    padding-right: 15px;
    margin-left: 5px;
    min-height: 30px;
    width: 75%;
    border: 1px dashed #6fb3e0;
    background-color: #ebfbff;
}
.ace-file-input.item{
    margin:1px;
}
.ace-file-input .success {
    background-color: #87b87f;
}

/*  延迟加载图片默认颜色 */
.lazy {
    background-color: #daeefb;    
}

/* 分页条 */
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-bottom-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

/*  dialog宽度，只有在大屏时才生效 */
@media (min-width: 768px) {

.dialog-50 .modal-dialog {width: 50px;}
.dialog-55 .modal-dialog {width: 55px;}
.dialog-60 .modal-dialog {width: 60px;}
.dialog-65 .modal-dialog {width: 65px;}
.dialog-70 .modal-dialog {width: 70px;}
.dialog-75 .modal-dialog {width: 75px;}
.dialog-80 .modal-dialog {width: 80px;}
.dialog-85 .modal-dialog {width: 85px;}
.dialog-90 .modal-dialog {width: 90px;}
.dialog-95 .modal-dialog {width: 95px;}
.dialog-100 .modal-dialog {width: 100px;}
.dialog-105 .modal-dialog {width: 105px;}
.dialog-110 .modal-dialog {width: 110px;}
.dialog-115 .modal-dialog {width: 115px;}
.dialog-120 .modal-dialog {width: 120px;}
.dialog-125 .modal-dialog {width: 125px;}
.dialog-130 .modal-dialog {width: 130px;}
.dialog-135 .modal-dialog {width: 135px;}
.dialog-140 .modal-dialog {width: 140px;}
.dialog-145 .modal-dialog {width: 145px;}
.dialog-150 .modal-dialog {width: 150px;}
.dialog-155 .modal-dialog {width: 155px;}
.dialog-160 .modal-dialog {width: 160px;}
.dialog-165 .modal-dialog {width: 165px;}
.dialog-170 .modal-dialog {width: 170px;}
.dialog-175 .modal-dialog {width: 175px;}
.dialog-180 .modal-dialog {width: 180px;}
.dialog-185 .modal-dialog {width: 185px;}
.dialog-190 .modal-dialog {width: 190px;}
.dialog-195 .modal-dialog {width: 195px;}

.dialog-200 .modal-dialog {width: 200px;}
.dialog-205 .modal-dialog {width: 205px;}
.dialog-210 .modal-dialog {width: 210px;}
.dialog-215 .modal-dialog {width: 215px;}
.dialog-220 .modal-dialog {width: 220px;}
.dialog-225 .modal-dialog {width: 225px;}
.dialog-230 .modal-dialog {width: 230px;}
.dialog-235 .modal-dialog {width: 235px;}
.dialog-240 .modal-dialog {width: 240px;}
.dialog-245 .modal-dialog {width: 245px;}
.dialog-250 .modal-dialog {width: 250px;}
.dialog-255 .modal-dialog {width: 255px;}
.dialog-260 .modal-dialog {width: 260px;}
.dialog-265 .modal-dialog {width: 265px;}
.dialog-270 .modal-dialog {width: 270px;}
.dialog-275 .modal-dialog {width: 275px;}
.dialog-280 .modal-dialog {width: 280px;}
.dialog-285 .modal-dialog {width: 285px;}
.dialog-290 .modal-dialog {width: 290px;}
.dialog-295 .modal-dialog {width: 295px;}

.dialog-300 .modal-dialog {width: 300px;}
.dialog-305 .modal-dialog {width: 305px;}
.dialog-310 .modal-dialog {width: 310px;}
.dialog-315 .modal-dialog {width: 315px;}
.dialog-320 .modal-dialog {width: 320px;}
.dialog-325 .modal-dialog {width: 325px;}
.dialog-330 .modal-dialog {width: 330px;}
.dialog-335 .modal-dialog {width: 335px;}
.dialog-340 .modal-dialog {width: 340px;}
.dialog-345 .modal-dialog {width: 345px;}
.dialog-350 .modal-dialog {width: 350px;}
.dialog-355 .modal-dialog {width: 355px;}
.dialog-360 .modal-dialog {width: 360px;}
.dialog-365 .modal-dialog {width: 365px;}
.dialog-370 .modal-dialog {width: 370px;}
.dialog-375 .modal-dialog {width: 375px;}
.dialog-380 .modal-dialog {width: 380px;}
.dialog-385 .modal-dialog {width: 385px;}
.dialog-390 .modal-dialog {width: 390px;}
.dialog-395 .modal-dialog {width: 395px;}

.dialog-400 .modal-dialog {width: 400px;}
.dialog-405 .modal-dialog {width: 405px;}
.dialog-410 .modal-dialog {width: 410px;}
.dialog-415 .modal-dialog {width: 415px;}
.dialog-420 .modal-dialog {width: 420px;}
.dialog-425 .modal-dialog {width: 425px;}
.dialog-430 .modal-dialog {width: 430px;}
.dialog-435 .modal-dialog {width: 435px;}
.dialog-440 .modal-dialog {width: 440px;}
.dialog-445 .modal-dialog {width: 445px;}
.dialog-450 .modal-dialog {width: 450px;}
.dialog-455 .modal-dialog {width: 455px;}
.dialog-460 .modal-dialog {width: 460px;}
.dialog-465 .modal-dialog {width: 465px;}
.dialog-470 .modal-dialog {width: 470px;}
.dialog-475 .modal-dialog {width: 475px;}
.dialog-480 .modal-dialog {width: 480px;}
.dialog-485 .modal-dialog {width: 485px;}
.dialog-490 .modal-dialog {width: 490px;}
.dialog-495 .modal-dialog {width: 495px;}

.dialog-500 .modal-dialog {width: 500px;}
.dialog-505 .modal-dialog {width: 505px;}
.dialog-510 .modal-dialog {width: 510px;}
.dialog-515 .modal-dialog {width: 515px;}
.dialog-520 .modal-dialog {width: 520px;}
.dialog-525 .modal-dialog {width: 525px;}
.dialog-530 .modal-dialog {width: 530px;}
.dialog-535 .modal-dialog {width: 535px;}
.dialog-540 .modal-dialog {width: 540px;}
.dialog-545 .modal-dialog {width: 545px;}
.dialog-550 .modal-dialog {width: 550px;}
.dialog-555 .modal-dialog {width: 555px;}
.dialog-560 .modal-dialog {width: 560px;}
.dialog-565 .modal-dialog {width: 565px;}
.dialog-570 .modal-dialog {width: 570px;}
.dialog-575 .modal-dialog {width: 575px;}
.dialog-580 .modal-dialog {width: 580px;}
.dialog-585 .modal-dialog {width: 585px;}
.dialog-590 .modal-dialog {width: 590px;}
.dialog-595 .modal-dialog {width: 595px;}

.dialog-600 .modal-dialog {width: 600px;}
.dialog-605 .modal-dialog {width: 605px;}
.dialog-610 .modal-dialog {width: 610px;}
.dialog-615 .modal-dialog {width: 615px;}
.dialog-620 .modal-dialog {width: 620px;}
.dialog-625 .modal-dialog {width: 625px;}
.dialog-630 .modal-dialog {width: 630px;}
.dialog-635 .modal-dialog {width: 635px;}
.dialog-640 .modal-dialog {width: 640px;}
.dialog-645 .modal-dialog {width: 645px;}
.dialog-650 .modal-dialog {width: 650px;}
.dialog-655 .modal-dialog {width: 655px;}
.dialog-660 .modal-dialog {width: 660px;}
.dialog-665 .modal-dialog {width: 665px;}
.dialog-670 .modal-dialog {width: 670px;}
.dialog-675 .modal-dialog {width: 675px;}
.dialog-680 .modal-dialog {width: 680px;}
.dialog-685 .modal-dialog {width: 685px;}
.dialog-690 .modal-dialog {width: 690px;}
.dialog-695 .modal-dialog {width: 695px;}

.dialog-700 .modal-dialog {width: 700px;}
.dialog-705 .modal-dialog {width: 705px;}
.dialog-710 .modal-dialog {width: 710px;}
.dialog-715 .modal-dialog {width: 715px;}
.dialog-720 .modal-dialog {width: 720px;}
.dialog-725 .modal-dialog {width: 725px;}
.dialog-730 .modal-dialog {width: 730px;}
.dialog-735 .modal-dialog {width: 735px;}
.dialog-740 .modal-dialog {width: 740px;}
.dialog-745 .modal-dialog {width: 745px;}
.dialog-750 .modal-dialog {width: 750px;}
.dialog-755 .modal-dialog {width: 755px;}
.dialog-760 .modal-dialog {width: 760px;}
.dialog-765 .modal-dialog {width: 765px;}
.dialog-770 .modal-dialog {width: 770px;}
.dialog-775 .modal-dialog {width: 775px;}
.dialog-780 .modal-dialog {width: 780px;}
.dialog-785 .modal-dialog {width: 785px;}
.dialog-790 .modal-dialog {width: 790px;}
.dialog-795 .modal-dialog {width: 795px;}

.dialog-800 .modal-dialog {width: 800px;}
.dialog-805 .modal-dialog {width: 805px;}
.dialog-810 .modal-dialog {width: 810px;}
.dialog-815 .modal-dialog {width: 815px;}
.dialog-820 .modal-dialog {width: 820px;}
.dialog-825 .modal-dialog {width: 825px;}
.dialog-830 .modal-dialog {width: 830px;}
.dialog-835 .modal-dialog {width: 835px;}
.dialog-840 .modal-dialog {width: 840px;}
.dialog-845 .modal-dialog {width: 845px;}
.dialog-850 .modal-dialog {width: 850px;}
.dialog-855 .modal-dialog {width: 855px;}
.dialog-860 .modal-dialog {width: 860px;}
.dialog-865 .modal-dialog {width: 865px;}
.dialog-870 .modal-dialog {width: 870px;}
.dialog-875 .modal-dialog {width: 875px;}
.dialog-880 .modal-dialog {width: 880px;}
.dialog-885 .modal-dialog {width: 885px;}
.dialog-890 .modal-dialog {width: 890px;}
.dialog-895 .modal-dialog {width: 895px;}

.dialog-900 .modal-dialog {width: 900px;}
.dialog-905 .modal-dialog {width: 905px;}
.dialog-910 .modal-dialog {width: 910px;}
.dialog-915 .modal-dialog {width: 915px;}
.dialog-920 .modal-dialog {width: 920px;}
.dialog-925 .modal-dialog {width: 925px;}
.dialog-930 .modal-dialog {width: 930px;}
.dialog-935 .modal-dialog {width: 935px;}
.dialog-940 .modal-dialog {width: 940px;}
.dialog-945 .modal-dialog {width: 945px;}
.dialog-950 .modal-dialog {width: 950px;}
.dialog-955 .modal-dialog {width: 955px;}
.dialog-960 .modal-dialog {width: 960px;}
.dialog-965 .modal-dialog {width: 965px;}
.dialog-970 .modal-dialog {width: 970px;}
.dialog-975 .modal-dialog {width: 975px;}
.dialog-980 .modal-dialog {width: 980px;}
.dialog-985 .modal-dialog {width: 985px;}
.dialog-990 .modal-dialog {width: 990px;}
.dialog-995 .modal-dialog {width: 995px;}

.dialog-1000 .modal-dialog {width: 1000px;}

}

/*  dialog高度 */
.dialog-h-50 .modal-body {height: 50px;}
.dialog-h-55 .modal-body {height: 55px;}
.dialog-h-60 .modal-body {height: 60px;}
.dialog-h-65 .modal-body {height: 65px;}
.dialog-h-70 .modal-body {height: 70px;}
.dialog-h-75 .modal-body {height: 75px;}
.dialog-h-80 .modal-body {height: 80px;}
.dialog-h-85 .modal-body {height: 85px;}
.dialog-h-90 .modal-body {height: 90px;}
.dialog-h-95 .modal-body {height: 95px;}
.dialog-h-100 .modal-body {height: 100px;}
.dialog-h-105 .modal-body {height: 105px;}
.dialog-h-110 .modal-body {height: 110px;}
.dialog-h-115 .modal-body {height: 115px;}
.dialog-h-120 .modal-body {height: 120px;}
.dialog-h-125 .modal-body {height: 125px;}
.dialog-h-130 .modal-body {height: 130px;}
.dialog-h-135 .modal-body {height: 135px;}
.dialog-h-140 .modal-body {height: 140px;}
.dialog-h-145 .modal-body {height: 145px;}
.dialog-h-150 .modal-body {height: 150px;}
.dialog-h-155 .modal-body {height: 155px;}
.dialog-h-160 .modal-body {height: 160px;}
.dialog-h-165 .modal-body {height: 165px;}
.dialog-h-170 .modal-body {height: 170px;}
.dialog-h-175 .modal-body {height: 175px;}
.dialog-h-180 .modal-body {height: 180px;}
.dialog-h-185 .modal-body {height: 185px;}
.dialog-h-190 .modal-body {height: 190px;}
.dialog-h-195 .modal-body {height: 195px;}

.dialog-h-200 .modal-body {height: 200px;}
.dialog-h-205 .modal-body {height: 205px;}
.dialog-h-210 .modal-body {height: 210px;}
.dialog-h-215 .modal-body {height: 215px;}
.dialog-h-220 .modal-body {height: 220px;}
.dialog-h-225 .modal-body {height: 225px;}
.dialog-h-230 .modal-body {height: 230px;}
.dialog-h-235 .modal-body {height: 235px;}
.dialog-h-240 .modal-body {height: 240px;}
.dialog-h-245 .modal-body {height: 245px;}
.dialog-h-250 .modal-body {height: 250px;}
.dialog-h-255 .modal-body {height: 255px;}
.dialog-h-260 .modal-body {height: 260px;}
.dialog-h-265 .modal-body {height: 265px;}
.dialog-h-270 .modal-body {height: 270px;}
.dialog-h-275 .modal-body {height: 275px;}
.dialog-h-280 .modal-body {height: 280px;}
.dialog-h-285 .modal-body {height: 285px;}
.dialog-h-290 .modal-body {height: 290px;}
.dialog-h-295 .modal-body {height: 295px;}

.dialog-h-300 .modal-body {height: 300px;}
.dialog-h-305 .modal-body {height: 305px;}
.dialog-h-310 .modal-body {height: 310px;}
.dialog-h-315 .modal-body {height: 315px;}
.dialog-h-320 .modal-body {height: 320px;}
.dialog-h-325 .modal-body {height: 325px;}
.dialog-h-330 .modal-body {height: 330px;}
.dialog-h-335 .modal-body {height: 335px;}
.dialog-h-340 .modal-body {height: 340px;}
.dialog-h-345 .modal-body {height: 345px;}
.dialog-h-350 .modal-body {height: 350px;}
.dialog-h-355 .modal-body {height: 355px;}
.dialog-h-360 .modal-body {height: 360px;}
.dialog-h-365 .modal-body {height: 365px;}
.dialog-h-370 .modal-body {height: 370px;}
.dialog-h-375 .modal-body {height: 375px;}
.dialog-h-380 .modal-body {height: 380px;}
.dialog-h-385 .modal-body {height: 385px;}
.dialog-h-390 .modal-body {height: 390px;}
.dialog-h-395 .modal-body {height: 395px;}

.dialog-h-400 .modal-body {height: 400px;}
.dialog-h-405 .modal-body {height: 405px;}
.dialog-h-410 .modal-body {height: 410px;}
.dialog-h-415 .modal-body {height: 415px;}
.dialog-h-420 .modal-body {height: 420px;}
.dialog-h-425 .modal-body {height: 425px;}
.dialog-h-430 .modal-body {height: 430px;}
.dialog-h-435 .modal-body {height: 435px;}
.dialog-h-440 .modal-body {height: 440px;}
.dialog-h-445 .modal-body {height: 445px;}
.dialog-h-450 .modal-body {height: 450px;}
.dialog-h-455 .modal-body {height: 455px;}
.dialog-h-460 .modal-body {height: 460px;}
.dialog-h-465 .modal-body {height: 465px;}
.dialog-h-470 .modal-body {height: 470px;}
.dialog-h-475 .modal-body {height: 475px;}
.dialog-h-480 .modal-body {height: 480px;}
.dialog-h-485 .modal-body {height: 485px;}
.dialog-h-490 .modal-body {height: 490px;}
.dialog-h-495 .modal-body {height: 495px;}

.dialog-h-500 .modal-body {height: 500px;}
.dialog-h-505 .modal-body {height: 505px;}
.dialog-h-510 .modal-body {height: 510px;}
.dialog-h-515 .modal-body {height: 515px;}
.dialog-h-520 .modal-body {height: 520px;}
.dialog-h-525 .modal-body {height: 525px;}
.dialog-h-530 .modal-body {height: 530px;}
.dialog-h-535 .modal-body {height: 535px;}
.dialog-h-540 .modal-body {height: 540px;}
.dialog-h-545 .modal-body {height: 545px;}
.dialog-h-550 .modal-body {height: 550px;}
.dialog-h-555 .modal-body {height: 555px;}
.dialog-h-560 .modal-body {height: 560px;}
.dialog-h-565 .modal-body {height: 565px;}
.dialog-h-570 .modal-body {height: 570px;}
.dialog-h-575 .modal-body {height: 575px;}
.dialog-h-580 .modal-body {height: 580px;}
.dialog-h-585 .modal-body {height: 585px;}
.dialog-h-590 .modal-body {height: 590px;}
.dialog-h-595 .modal-body {height: 595px;}

.dialog-h-600 .modal-body {height: 600px;}
.dialog-h-605 .modal-body {height: 605px;}
.dialog-h-610 .modal-body {height: 610px;}
.dialog-h-615 .modal-body {height: 615px;}
.dialog-h-620 .modal-body {height: 620px;}
.dialog-h-625 .modal-body {height: 625px;}
.dialog-h-630 .modal-body {height: 630px;}
.dialog-h-635 .modal-body {height: 635px;}
.dialog-h-640 .modal-body {height: 640px;}
.dialog-h-645 .modal-body {height: 645px;}
.dialog-h-650 .modal-body {height: 650px;}
.dialog-h-655 .modal-body {height: 655px;}
.dialog-h-660 .modal-body {height: 660px;}
.dialog-h-665 .modal-body {height: 665px;}
.dialog-h-670 .modal-body {height: 670px;}
.dialog-h-675 .modal-body {height: 675px;}
.dialog-h-680 .modal-body {height: 680px;}
.dialog-h-685 .modal-body {height: 685px;}
.dialog-h-690 .modal-body {height: 690px;}
.dialog-h-695 .modal-body {height: 695px;}

.dialog-h-700 .modal-body {height: 700px;}
.dialog-h-705 .modal-body {height: 705px;}
.dialog-h-710 .modal-body {height: 710px;}
.dialog-h-715 .modal-body {height: 715px;}
.dialog-h-720 .modal-body {height: 720px;}
.dialog-h-725 .modal-body {height: 725px;}
.dialog-h-730 .modal-body {height: 730px;}
.dialog-h-735 .modal-body {height: 735px;}
.dialog-h-740 .modal-body {height: 740px;}
.dialog-h-745 .modal-body {height: 745px;}
.dialog-h-750 .modal-body {height: 750px;}
.dialog-h-755 .modal-body {height: 755px;}
.dialog-h-760 .modal-body {height: 760px;}
.dialog-h-765 .modal-body {height: 765px;}
.dialog-h-770 .modal-body {height: 770px;}
.dialog-h-775 .modal-body {height: 775px;}
.dialog-h-780 .modal-body {height: 780px;}
.dialog-h-785 .modal-body {height: 785px;}
.dialog-h-790 .modal-body {height: 790px;}
.dialog-h-795 .modal-body {height: 795px;}

.dialog-h-800 .modal-body {height: 800px;}
.dialog-h-805 .modal-body {height: 805px;}
.dialog-h-810 .modal-body {height: 810px;}
.dialog-h-815 .modal-body {height: 815px;}
.dialog-h-820 .modal-body {height: 820px;}
.dialog-h-825 .modal-body {height: 825px;}
.dialog-h-830 .modal-body {height: 830px;}
.dialog-h-835 .modal-body {height: 835px;}
.dialog-h-840 .modal-body {height: 840px;}
.dialog-h-845 .modal-body {height: 845px;}
.dialog-h-850 .modal-body {height: 850px;}
.dialog-h-855 .modal-body {height: 855px;}
.dialog-h-860 .modal-body {height: 860px;}
.dialog-h-865 .modal-body {height: 865px;}
.dialog-h-870 .modal-body {height: 870px;}
.dialog-h-875 .modal-body {height: 875px;}
.dialog-h-880 .modal-body {height: 880px;}
.dialog-h-885 .modal-body {height: 885px;}
.dialog-h-890 .modal-body {height: 890px;}
.dialog-h-895 .modal-body {height: 895px;}

.dialog-h-900 .modal-body {height: 900px;}
.dialog-h-905 .modal-body {height: 905px;}
.dialog-h-910 .modal-body {height: 910px;}
.dialog-h-915 .modal-body {height: 915px;}
.dialog-h-920 .modal-body {height: 920px;}
.dialog-h-925 .modal-body {height: 925px;}
.dialog-h-930 .modal-body {height: 930px;}
.dialog-h-935 .modal-body {height: 935px;}
.dialog-h-940 .modal-body {height: 940px;}
.dialog-h-945 .modal-body {height: 945px;}
.dialog-h-950 .modal-body {height: 950px;}
.dialog-h-955 .modal-body {height: 955px;}
.dialog-h-960 .modal-body {height: 960px;}
.dialog-h-965 .modal-body {height: 965px;}
.dialog-h-970 .modal-body {height: 970px;}
.dialog-h-975 .modal-body {height: 975px;}
.dialog-h-980 .modal-body {height: 980px;}
.dialog-h-985 .modal-body {height: 985px;}
.dialog-h-990 .modal-body {height: 990px;}
.dialog-h-995 .modal-body {height: 995px;}

.dialog-h-1000 .modal-body {height: 1000px;}


/* 页面查询表单样式 */
.table-detail {
    display: none;
}
.bottom-border {
    border-bottom: 1px dotted #E2E2E2;
    margin-bottom: 10px;
}

.page-header {
    margin: 0 0 0px;
    border-bottom: inherit;
}

.search-form {
    display: table-row;
    padding-left: inherit;
    padding-right: inherit;
}

.right{
   text-align: right!important;
}

.search-title {
    color: #336199;
    background-color: #EDF3F4;
    border-top: 1px solid #F7FBFF;
    padding: 6px 10px 6px 12px;
    font-weight: 400;
    vertical-align: middle;
    width:auto;
}
.search-value{
    border-top: 1px dotted #DCEBF7;
    padding: 6px 4px 6px 12px;
}
.search-text {
    width:100%;
}
