                         <div class="page-header">
                            <button class="btn btn-sm btn-success" onclick="execTask()">
                                <i class="ace-icon fa fa-rocket bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">执行任务</span>
                            </button>
                        </div><!-- /.page-header -->
                        
                        <div class="bottom-border"></div>

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <table id="datatable" url="/data/cron/List" ></table>


                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

        <!-- jgrid -->
        <script type="text/javascript">

        jQuery(function($) {
                var dataGrid = new DataGrid({  
                    title: '定时任务',
                    tableName: 'datatable',  
                    // 设置数据表格列
                    columnModel: [  
                        {name:'任务状态',index:'', width:80, fixed:true,align:"center", sortable:false, resize:false,
                            formatter : function(value, grid, rows, state){
                                var checked = "";
                                if (rows.Status){
                                    checked = "checked=\"checked\"";
                                }
                                return '<label><input name="switch-field-1" onchange="setStatus(this,\''+rows.Id+'\')" '+checked+' class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" /><span class="lbl" data-lbl="启用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;停用"></span></label>';
                            }
                        },
                        {label:'任务ID',name:'Id',index:'Id',align:"center",width:100,key:true},
                        {label:'任务描述',name:'Desc',index:'Desc',align:"center",width:150},
                        {label:'任务控制器',name:'Type',index:'Type',align:"center",width:100},
                        {label:'上次执行时间',name:'Prev',index:'Prev',align:"center", width:150,formatter: 'date',formatoptions:{srcformat: 'Y-m-dTH:i:s',newformat: 'Y-m-d H:i:s'}},
                        {label:'下次执行时间',name:'Next',index:'Next',align:"center", width:150,formatter: 'date',formatoptions:{srcformat: 'Y-m-dTH:i:s',newformat: 'Y-m-d H:i:s'}}
                    ]
                });
        }); 

        function setStatus(ele,id) {
            var method = "/data/cron/Stop";
            if (ele.checked) {
                    method = "/data/cron/Start";
            }
            var json = { TaskId : id };
            SendData.Post(method,json,function(response){
                    BootFrame.gritter(response.MESSAGE);
                    DataGrid.loadData("datatable");
            });
        }

        function execTask(){
            var ids = DataGrid.getSelectRowIds("datatable");
            
            if (ids.length == 0){
                BootFrame.alert("请选择要执行的任务");
                return;
            }
            var json = { TaskIds : ids.join() };
            SendData.Post("/data/cron/Exec",json,function(response){
                    BootFrame.gritter(response.MESSAGE);
                    DataGrid.loadData("datatable");
            });
        }

        </script>
