                         <div class="page-header">
                             <button class="btn btn-sm btn-success" onclick="uploadImage()">
                                <i class="ace-icon fa fa-rocket bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">上传图片</span>
                            </button>
                         </div><!-- /.page-header -->
                        
                        <div class="bottom-border"></div>

                        <div class="row">
                            <div style="position: relative;">
                                    <ul class="ace-thumbnails clearfix" id="list1" list="true" dataurl="/data/image/List" page="true" size="18" style="margin: 0 auto;position: relative;max-width:1557px;">
                                        <li>
                                            <a href="${FilePath}${FileNewName}" style="width: 165px;height: 165px;overflow: hidden" data-rel="colorbox">
                                                <img class="lazy" data-original="${FilePath}${FileNewName}" style="min-width: 180px;max-width: 270px;min-height: 180px;max-height: 270px;" />
                                            </a>

                                            <div class="tools tools-bottom">
                                                <a href="#">
                                                    <i class="ace-icon fa fa-link"></i>
                                                </a>

                                                <a href="#">
                                                    <i class="ace-icon fa fa-pencil"></i>
                                                </a>

                                                <a href="#">
                                                    <i class="ace-icon fa fa-times red"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>

                                </div><!-- PAGE CONTENT ENDS -->
                                <div align="center">
                                    <ul class="pagination" pagebar="true" id="pagebar"></ul>
                                </div>
                        </div><!-- /.row -->

        <!-- jgrid -->
        <script type="text/javascript">
        jQuery(function($) {
            var w = $("#list1").width();
            var h = $(document.body).height() - 160;
            var s = 0;
            if (w > 700){
                w = parseInt(w / 173);
                h = parseInt(h / 173);
                s = w * h;
                $("#list1").css("max-width",w * 173);
            }else{
                s = parseInt(w / 170) * 3;
            }
            DataList({
                list: "list1",
                pagebar: "pagebar",
                size: parseInt(s)
            });
        });

        function uploadImage(){
            var bf = BootFrame.uploader();
            bf.fileType('image');
            bf.show(operation);
        }

        function operation(fs){
            DataList.loadData("list1");
            for (var i = 0 ; i < fs.length ; i++){
                //alert(fs[i].FileName);
            }
        }
        </script>
