                         <div class="page-header">
                             <button class="btn btn-sm btn-success" onclick="uploadImage()">
                                <i class="ace-icon fa fa-rocket bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">上传图片</span>
                            </button>
                         </div><!-- /.page-header -->

                        <div class="bottom-border"></div>

                        <div class="row">
                            <div style="position: relative;">
                                    <ul class="ace-thumbnails clearfix" id="list1" list="true" dataurl="/data/image/List" page="true" size="18" style="margin: 0 auto;position: relative;max-width:1557px;">

                                    </ul>

                                </div><!-- PAGE CONTENT ENDS -->
                                <div align="center">
                                    <ul class="pagination" pagebar="true" id="pagebar"></ul>
                                </div>
                        </div><!-- /.row -->

        <!-- jgrid -->
        <script type="text/javascript">
        jQuery(function($) {
            var w = $("#list1").width();
            var h = $(document.body).height() - 160;
            var s = 0;
            if (w > 600){
                w = parseInt(w / 173);
                h = parseInt(h / 173);
                s = w * h;
                $("#list1").css("max-width",w * 173);
            }else{
                s = parseInt(w / 170) * 3;
            }
            DataList({
                list: "list1",
                pagebar: "pagebar",
                html: "<li><a href=\"/image/${FilePath}${FileNewName}\" style=\"width: 165px;height: 165px;overflow: hidden\" data-rel=\"colorbox\"><img class=\"lazy\" src=\"/image/${FilePath}${FileNewName}!165x165\" /></a><div class=\"tools tools-bottom\"><a href=\"#\"><i class=\"ace-icon fa fa-link\"></i></a><a href=\"#\"><i class=\"ace-icon fa fa-pencil\"></i></a><a href=\"#\"><i class=\"ace-icon fa fa-times red\"></i></a></div></li>",
                size: parseInt(s),
                fn: initColorBox
            });
        });

         //初始化ColorBox
        function initColorBox(){
            var $overflow = '';
            var colorbox_params = {
                rel: 'colorbox',
                reposition:true,
                scalePhotos:true,
                scrolling:false,
                photo:true,
                previous:'<i class="ace-icon fa fa-arrow-left"></i>',
                next:'<i class="ace-icon fa fa-arrow-right"></i>',
                close:'&times;',
                current:'{current} of {total}',
                maxWidth:'100%',
                maxHeight:'100%',
                onOpen:function(){
                    $overflow = document.body.style.overflow;
                    document.body.style.overflow = 'hidden';
                },
                onClosed:function(){
                    document.body.style.overflow = $overflow;
                },
                onComplete:function(){
                    $.colorbox.resize();
                }
            };

            $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
            $("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");

            $(document).one('ajaxloadstart.page', function(e) {
                $('#colorbox, #cboxOverlay').remove();
            });
        }


        function uploadImage(){
            var bf = BootFrame.uploader();
            bf.fileType('image');
            bf.show(operation);
        }

        function operation(fs){
            DataList.loadData("list1");
            for (var i = 0 ; i < fs.length ; i++){
                //alert(fs[i].FileName);
            }
        }
        </script>
