<link rel="stylesheet" href="/static/css/bootstrap-editable.min.css" />
<style type="text/css">
    .ui-icon-triangle-1-s {
        background-image: inherit;
        background-position: -64px -16px;
    }
    .ui-accordion .ui-accordion-header {
        margin: 0;
        font-weight: initial;
        padding: 12px;
        border-right-width: 0;
    }
    input {
        font-weight: initial;
        width: 100%;
        height: 35px;
    }
    .divgroup {
        padding: 12px;
        border-right-width: 0 ;
        border: 1px solid #CDD8E3;
        width: 30%;
        background-color: #EEF4F9;
    }
    .divgroupright {
        padding: 12px ;
        border-right-width: 0 ;
        border-top: 1px solid #CDD8E3;
        border-bottom: 1px solid #CDD8E3;
        background-color: #EEF4F9;
        width: 70%;
    }
    .fa-arrows {
         cursor:move;
    }
    .remove {
        padding: 12px;
        border: 1px solid #CDD8E3;
        background-color: #EEF4F9;
    }
    .remove i {
        color: #4C8FBD;
        cursor:pointer;
    }
    .remove i:hover{
        color: #87b87f;
    }
    .hidediv {
        border: 0 !important;
        padding: 0 !important;
    }
    .group {
        padding-bottom: 10px;
    }
    .editable-clear-x {
        display:none !important;
    }
</style>
<div class="page-header">
    <button class="btn btn-sm btn-info btn-primary" id='addbut'>
        <i class="ace-icon fa fa-plus bigger-125"></i>
        <span class="bigger-115 no-text-shadow">新增</span>
    </button>
</div><!-- /.page-header -->

<div class="bottom-border"></div>
<div id="accordion" class="accordion-style2 ui-accordion ui-widget ui-helper-reset ui-sortable" list="true" dataurl="/data/catalog/List" page="true" size="100" ></div><!-- #accordion -->

 <!-- edittable -->
<script type="text/javascript">
    var cid = 0; //当前id
    var ids; //所有的id
    jQuery(function($) {
        jQuery.getScript("/static/js/bootstrap-editable.min.js",function(){
            jQuery.getScript("/static/js/ace-editable.min.js",function(){
                $.fn.editable.defaults.mode = 'inline';
                $.fn.editableform.loading = "<div class='editableform-loading'><i class='ace-icon fa fa-spinner fa-spin fa-2x light-blue'></i></div>";
                $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="ace-icon fa fa-check"></i></button>'+
                                            '<button type="button" class="btn editable-cancel"><i class="ace-icon fa fa-times"></i></button>';  
                DataList({
                    list: "accordion",
                    html: '<div class="group" style="display: flex;" id="${Id}" >'+
                            '<input type="hidden" class="orderflag" value="0">'+
                            '<div class="accordion-header ui-accordion-header ui-state-default ui-sortable-handle ui-corner-all" role="tab" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="-1">'+
                                '<i class="ace-icon fa fa-arrows bigger-125 arrows"></i>'+
                            '</div>'+
                            '<div class="hidediv ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" style="display: none;" aria-hidden="true"></div>'+
                            '<div class="divgroup">'+
                                '<span class="edittablespan" val="${Id}" type="CatalogName">${CatalogName}</span>'+
                            '</div>'+
                            '<div class="divgroupright">'+
                                '<span class="edittablespan" val="${Id}" type="CatalogLink">${Link}</span>'+
                            '</div>'+
                            '<div class="remove">'+
                                '<i class="ace-icon fa fa-remove bigger-150 arrows" onclick="delline(this,${Id});"></i>'+
                            '</div>'+
                        '</div>',
                    fn: function(){
                        $('.edittablespan').editable({
                            type: 'text',
                            url: '/data/catalog/Save',
                            pk: 1,
                            params: function(e){
                                var params = {};
                                params['Id'] = $(this).attr('val');
                                var type = $(this).attr('type');
                                if (type == 'CatalogName'){
                                    params['CatalogName'] = e['value'];
                                }else{
                                    params['Link'] = e['value'];
                                }
                                return params;
                            },
                            validate: function(value) {
                                if($.trim(value) == '') {
                                    return '内容不可为空';
                                }
                            },
                            success: function(response, newValue) {
                                if (response.STATUS == 1){
                                    BootFrame.gritter(response.MESSAGE);
                                    return true;
                                }else{
                                    BootFrame.alert(response.MESSAGE,null,"操作失败",true);
                                    return false;
                                }
                            }
                        });
                    }
                });  
            });

        });
        

        $( "#accordion" ).sortable({
            change: function( event, ui ) {
                var sortedIDs = $( "#accordion" ).sortable( "toArray" );
                cid = compare(ids,sortedIDs);
            },
            beforeStop: function( event, ui ) {
                var sortedIDs = $( "#accordion" ).sortable( "toArray" );
                for (var i in sortedIDs){
                    if (sortedIDs[i] == cid){
                        var data = {
                            Id: cid,
                            Pid: i != 0 ? sortedIDs[Number(i)-1] : 0,
                            Nid: i != sortedIDs.length-1 ? sortedIDs[Number(i)+1] : 0,
                        };
                        SendData.Post("/data/catalog/Sort",data,function(response){
                            if (response.STATUS==1){
                                BootFrame.gritter(response.MESSAGE);
                            }else{
                                BootFrame.alert(response.MESSAGE,function(){
                                    window.location.reload();
                                },"操作失败",true);
                            }
                        });
                    }
                }
                $( ".selector" ).sortable( "refresh" );
            },
            activate: function( event, ui ) {
                ids = $( "#accordion" ).sortable( "toArray" );
            }
        });
        $( "#accordion" ).disableSelection();

        $('#addbut').on('click',function(){
            var bf = BootFrame.dialog();
            bf.title("新建菜单");
            bf.url('/data/catalog/InitPage');
            bf.width(400);
            bf.height(130);
            bf.addButton("确认",save,null,13);
            bf.show();
        });

        
    });

    //比较两个id数组返回第一个不同的
    function compare(ids1,ids2){
        for (var i in ids1) {
            if (!contains(ids1[i],ids2)){
                return ids1[i];
            }
        }
        return 0;
    }

    function contains(d,ids){
        for (var i in ids) {
            if (d == ids[i]){
                return true;
            }
        }
        return false;
    }

    function save(bf,but){ //默认接收两个参数，1 BootFrame ，2 当前按钮
        if (!bf.verifyForm()){
            return;
        }
        but.disable();  //禁止点击按钮
        but.spin();     //增加按钮等待图标
        SendData.Post("/data/catalog/Save",bf.getFormData(),function(response){
            if ( response.STATUS==1){
                bf.close();
                var html = '<div class="group" style="display: flex;">'+
                            '<input type="hidden" class="orderflag" value="0">'+
                            '<div class="accordion-header ui-accordion-header ui-state-default ui-sortable-handle ui-corner-all" role="tab" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="-1"><i class="ace-icon fa fa-arrows bigger-125 arrows"></i></div>'+
                            '<div class="hidediv ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" style="display: none;" aria-hidden="true"></div>'+
                            '<div class="divgroup">'+
                                '<span class="edittablespan" val="'+response.Id+'" type="CatalogName">'+response.CatalogName+'</span>'+
                            '</div>'+
                            '<div class="divgroupright">'+
                                '<span class="edittablespan" val="'+response.Id+'" type="CatalogLink">'+response.Link+'</span>'+
                            '</div>'+
                            '<div class="remove">'+
                                '<i class="ace-icon fa fa-remove bigger-150 arrows" onclick="delline(this,'+response.Id+');"></i>'+
                            '</div>'+
                            '</div>';
                        
                $('#accordion').append(html);
                $('.edittablespan').editable({
                    type: 'text',
                    url: '/data/catalog/Save',
                    pk: 1,
                    params: function(e){
                        var params = {};
                        params['Id'] = $(this).attr('val');
                        var type = $(this).attr('type');
                        if (type == 'CatalogName'){
                            params['CatalogName'] = e['value'];
                        }else{
                            params['Link'] = e['value'];
                        }
                        return params;
                    },
                    validate: function(value) {
                        if($.trim(value) == '') {
                            return '内容不可为空';
                        }
                    },
                    success: function(response, newValue) {
                        if (response.STATUS == 1){
                            BootFrame.gritter(response.MESSAGE);
                            return true;
                        }else{
                            BootFrame.alert(response.MESSAGE,null,"操作失败",true);
                            return false;
                        }
                    }
                });
            }else{
                BootFrame.alert(response.MESSAGE,function(){
                    but.enable();   //解除按钮点击
                    but.stopSpin(); //清楚等待图标
                },"操作失败",true);
            }
        });
    }

    function delline(ele,id){
        var data = {Ids:id};
        SendData.Post("/data/catalog/Del",data,function(response){
            if (response.STATUS==1){
                BootFrame.gritter(response.MESSAGE);
                $(ele).parent().parent('.group').remove();
            }else{
                BootFrame.alert(response.MESSAGE,null,"操作失败",true);
            }
        });
        
    }

</script>