	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal" id="form122" role="form">
				<input type="hidden" id="Id" value="{{.Menu.Id}}" />
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-6">
					父级菜单
					</label>
					<div class="col-sm-9">				
						<div>
							<select id="Pid">
								<option value="0">顶级菜单</option>
								{{range .ParentMenus}}
								<option value="{{.Id}}" {{.Select}}>{{.MenuName}}</option>
								{{end}}
							</select>
						</div>
					</div>
				</div>

				<gotext data-rel="tooltip" type="text" placeholder="请输入菜单名称" title="2-6个汉字或2-12个字母" data-placement="bottom" id="MenuName"  value="{{.Menu.MenuName}}" verify="notEmpty" >菜单名称</gotext>

				<gotext data-rel="tooltip" type="text" placeholder="请选择图标" title="请选择图标" data-placement="bottom" id="Icon" value="{{.Menu.Icon}}" onclick="openIcon()"  verify="notEmpty" >图标</gotext>

				<gotext data-rel="tooltip" type="text" placeholder="请输入链接页面" title="请输入链接页面" data-placement="bottom" id="Link" value="{{.Menu.Link}}" >链接</gotext>

			</form>
		</div>
	</div>
<script>
function openIcon(){
	var bf = BootFrame.dialog();
            bf.title("选择图标");
            bf.url('/platform/icon/icon.dml');
            bf.type('type-success');
            bf.width(450);
            bf.height(300);
            bf.addButton("确认",selectIcon,'btn-success');
            bf.show();
}
function selectIcon(bf,btn){
	var $json = bf.getFormData();
	if ($json.length == 0){
		BootFrame.alert("请选择一个图标");
	}else{
		$('#Icon').val($json["icon-value"]);
		bf.close();
	}
}
</script>
