                         <div class="page-header">
                            <button class="btn btn-sm btn-primary" onclick="addMenu()">
                                <i class="ace-icon fa fa-plus bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">新建菜单</span>
                            </button>
                             <button class="btn btn-sm btn-info" onclick="editMenu()">
                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">修改菜单</span>
                            </button>
                             <button class="btn btn-sm btn-success" onclick="delMenu()">
                                <i class="ace-icon fa fa-minus bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">删除菜单</span>
                            </button>
                        </div><!-- /.page-header -->
                        
                        <div class="bottom-border"></div>

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <table id="datatable" url="/data/menu/List" istree="true" treeColumn="MenuName"></table>
                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

        <!-- jgrid -->
        <script type="text/javascript">

        jQuery(function($) {
                var dataGrid = new DataGrid({  
                    title: '菜单管理',
                    tableName: 'datatable',  
                    // 设置数据表格列
                    columnModel: [  
                        {name:'Id',index:'Id',hidden:true,key:true},
                        {label:'菜单名称',name:'MenuName',index:'MenuName',width:90},
                        {label:'图标',name:'Icon',index:'Icon', width:150},
                        {label:'链接',name:'Link',index:'Link', width:70},
                        {label:'层级ID',name:'InnerCode',index:'InnerCode', width:90},
                        {label:'排序',name:'OrderFlag',index:'OrderFlag', width:90},
                        {label:'添加时间',name:'AddTime',index:'AddTime', width:150,formatter: 'date',formatoptions:{srcformat: 'Y-m-dTH:i:s',newformat: 'Y-m-d H:i:s'}}
                    ],
                    onbdclickfn: function(rowid){
                        editMenu(rowid); 
                    },
                });
                $(".search-button").click(function(){
                    if ($(".table-detail").css("display") == 'none'){
                        $(this).children("span").text("收起查询")
                    }else{
                        $(this).children("span").text("展开查询")
                    }
                    $(".table-detail").slideToggle("slow");
                    
                });
        }); 

        function editMenu(id){
            if (!id){
                var ids = DataGrid.getSelectRowIds("datatable");
                if (ids.length == 0){
                    BootFrame.alert("请选择要修改的菜单");
                    return;
                }
                id = ids[0];
            }
            var bf = BootFrame.dialog();
            bf.title("修改菜单");
            bf.url('/data/menu/InitPage?Id=' + id );
            bf.width(500);
            bf.height(300);
            bf.addButton("确认",save,null,13);
            bf.show();
        }

       function addMenu(){
           var bf = BootFrame.dialog();
            bf.title("新建菜单");
            bf.url('/data/menu/InitPage');
            bf.width(500);
            bf.height(300);
            bf.addButton("确认",save,null,13);
            bf.show();
       }

        function save(bf,but){ //默认接收两个参数，1 BootFrame ，2 当前按钮
            if (!bf.verifyForm()){
                return;
            }
            but.disable();  //禁止点击按钮
            but.spin();     //增加按钮等待图标
            SendData.Post("/data/menu/Save",bf.getFormData(),function(response){
                if ( response.STATUS==1){
                    BootFrame.alert(response.MESSAGE,function(){
                        DataGrid.loadData('datatable');
                        bf.close()
                    });
                }else{
                    BootFrame.alert(response.MESSAGE,function(){
                        but.enable();   //解除按钮点击
                        but.stopSpin(); //清楚等待图标
                    },"操作失败",true);
                }
            });
        }

        function delMenu(){
            var ids = DataGrid.getSelectRowIds("datatable");
            
            if (ids.length == 0){
                BootFrame.alert("请选择要删除的菜单");
                return;
            }
            BootFrame.confirm("您确定要删除这个菜单吗？", function(){
                var data = {Ids : ids.join()};
                SendData.Post("/data/menu/Del",data,function(response){
                if ( response.STATUS==1){
                    BootFrame.alert(response.MESSAGE,function(){
                        DataGrid.loadData('datatable');
                    });
                }else{
                    BootFrame.alert(response.MESSAGE,null,"操作失败",true);
                }
            });
            });
        }
             
        </script>
