	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-6">
					父级菜单
					</label>
					<div class="col-sm-9">				
						<div>
							<select id="Pid">
								<option value="">顶级菜单</option>
								{{range .ParentMenus}}
								<option value="{{.Id}}">{{.MenuName}}</option>
								{{end}}
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-6">
					菜单名称
					</label>
					<div class="col-sm-9">				
						<input data-rel="tooltip" type="text" placeholder="请输入菜单名称" title="2-6个汉字或2-12个字母" data-placement="bottom" id="MenuName" value="{{.Menu.MenuName}}" />
					</div>
				</div>
				
			</form>
		</div>
	</div>

