                         <div class="page-header">
                            <button class="btn btn-sm btn-success" onclick="execTask2()">
                                <i class="ace-icon fa fa-rocket bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">执行任务</span>
                            </button>

                            <button class="btn btn-sm btn-success" onclick="uploadTest()">
                                <i class="ace-icon fa fa-rocket bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">上传测试</span>
                            </button>

                             <button class="btn btn-sm btn-success" onclick="uploadTest2()">
                                <i class="ace-icon fa fa-rocket bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">上传测试2</span>
                            </button>

                              <button class="btn btn-sm btn-success" onclick="commm()">
                                <i class="ace-icon fa fa-rocket bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">选择测试</span>
                            </button>
                        </div><!-- /.page-header -->
                        
                        <div class="bottom-border"></div>

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <table id="datatable" url="" ></table>

                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

        <!-- jgrid -->
        <script type="text/javascript">
        function execTask2(){
            SendData.Post("/data/test/Exec",null,function(response){
                   BootFrame.progressbar(response.TaskId);
            });
        }

        function uploadTest(){
            var bf = BootFrame.dialog();
            bf.title("测试上传");
            bf.url('/data/image/UploadTest');
            bf.width(500);
            bf.height(300);
            bf.addButton("确认",save,null,13);
            bf.show();
        }

        function save(){

        }

         function uploadTest2(){
            var bf = BootFrame.uploader();
            bf.show();
        }

        function commm(){
            BootFrame.confirm("asdasdasd");
        }
        </script>
