                         <div class="page-header">
                            <button class="btn btn-sm btn-primary" onclick="addMenu()">
                                <i class="ace-icon fa fa-plus bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">新建菜单</span>
                            </button>
                             <button class="btn btn-sm btn-info" onclick="editMenu()">
                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">修改菜单</span>
                            </button>
                             <button class="btn btn-sm btn-success">
                                <i class="ace-icon fa fa-minus bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">删除菜单</span>
                            </button>
                             <button class="btn btn-sm btn-purple">
                                <i class="ace-icon fa fa-search-plus bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">查看菜单</span>
                            </button>
                        </div><!-- /.page-header -->

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <table id="datatable" url="/data/menu/List" istree="true" treeColumn="MenuName"></table>

                                <div id="datapager">
                                    

                                </div>

                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

        <!-- jgrid -->
        <script type="text/javascript">

        function editMenu(){
            var ids = DataGrid.getSelectRowIds("datatable");

            if (ids.length == 0){
                BootFrame.alert("请选择要修改的菜单");
                return;
            }

            var bf = BootFrame.dialog();
            bf.title("修改菜单");
            bf.url('/data/menu/InitPage?Id='+ids[0]);
            bf.width(500);
            bf.height(300);
            bf.addButton("确认", function(){
                bf.close();
            });
            bf.addButton("确认2", function(){
                SendData.Post("/data/menu/Save",bf.getFormData(),function(response){
                    BootFrame.alert(response.STATUS+"   "+response.MESSAGE,function(){
                        bf.close();
                    });
                });
            },'btn-warning');
            bf.show();
        }



       function addParam(){
            // DataGrid.setParams("datatable","Id",12);
            // DataGrid.setParams("datatable","Ids",122);
            // DataGrid.loadData("datatable");
            //alert(DataGrid.getSelectRowData("datatable")["Icon"]);
            // BootstrapDialog.show({
            //     title: "新建菜单",
            //     message: $('<div></div>').load('menu/menuDialog.dml'),
            //     size:'size-wide',
            //     draggable: true,
            //     buttons: [{
            //         label: '确定',
            //         cssClass: 'btn-primary',
            //         action: function(){
            //             alert('Hi Orange!');
            //         }
            //     }, {
            //         label: '取消',
            //         action: function(dialogItself){
            //             dialogItself.close();
            //         }
            //     }]
            // });

            //BootFrame.alert("test");
            //BootFrame.confirm("aaa",function(){alert(1);})
            var bf = BootFrame.dialog();
            bf.title("Test");
            bf.message("哈哈");
            bf.url('menu/menuDialog.dml');
            bf.width(500);
            bf.height(300);
            bf.addButton("确认", function(){alert(1);})
            bf.addButton("确认2", function(){alert(2);},'btn-warning')
            bf.show();
       }

        function addMenu(){
           BootstrapDialog.show({
                title: "新建菜单2",
                message: $('<div></div>').load('menu/menuDialog.dml'),
                draggable: true,
                buttons: [{
                    label: '确定',
                    cssClass: 'btn-primary',
                    action: function(){
                        alert('Hi Orange!');
                    }
                }, {
                    label: '取消',
                    action: function(dialogItself){
                        dialogItself.close();
                    }
                }]
            });
        }

        function test(){
            DataGrid.loadData('datatable');
            var ids = DataGrid.getSelectRowData('datatable');
            var data = DataGrid.getSelectRowData('datatable');
            //alert(data)
        }

             jQuery(function($) {
                var dataGrid = new DataGrid({  
                    title: '菜单管理',
                    tableName: 'datatable',  
                    pageName: 'datapager', 
                    // 设置数据表格列
                    columnModel: [  
                        {name:'Id',index:'Id',hidden:true,key:true},
                        {label:'菜单名称',name:'MenuName',index:'MenuName',width:90},
                        {label:'图标',name:'Icon',index:'Icon', width:150},
                        {label:'链接',name:'Link',index:'Link', width:70},
                        {label:'层级ID',name:'InnerCode',index:'InnerCode', width:90},
                        {label:'添加时间',name:'AddTime',index:'AddTime', width:150,formatter: 'date',formatoptions:{srcformat: 'Y-m-dTH:i:s',newformat: 'Y-m-d H:i:s'}}
                    ]
                });
            });
        </script>
