                         <div class="page-header">
                            <button class="btn btn-sm btn-primary" onclick="addUser()">
                                <i class="ace-icon fa fa-plus bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">新建用户</span>
                            </button>
                             <button class="btn btn-sm btn-info" onclick="editUser()">
                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">修改用户</span>
                            </button>
                             <button class="btn btn-sm btn-success" onclick="delUser()">
                                <i class="ace-icon fa fa-minus bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">删除用户</span>
                            </button>
                             <button class="btn btn-sm btn-purple search-button">
                                <i class="ace-icon fa fa-search-plus bigger-125"></i>
                                <span class="bigger-115 no-text-shadow">展开查询</span>
                            </button>
                        </div><!-- /.page-header -->
                        
                        <div class="bottom-border"></div>
                        <!-- search -->
                        <div class="table-detail">
                            <div class="row">
                                <div class="profile-user-info profile-user-info-striped">
                                    <div class="search-form col-md-4 col-sm-6">
                                        <div class="search-title"> 菜单名称 </div>
                                        <div class="search-value">
                                            <input type="text" id="form-field-1" placeholder="Username" class="search-text">
                                        </div>
                                    </div>

                                    <div class="search-form col-md-4 col-sm-6">
                                        <div class="search-title"> 链接地址 </div>
                                        <div class="search-value">
                                            <input type="text" id="form-field-1" placeholder="Username" class="search-text">
                                        </div>
                                    </div>

                                     <div class="search-form col-md-4 col-sm-6">
                                        <div class="search-title"> 创建时间 </div>
                                        <div class="search-value">
                                            <input type="text" id="form-field-1" placeholder="Username" class="search-text">
                                        </div>
                                    </div>

                                     <div class="search-form col-md-4 col-sm-6">
                                        <div class="search-title"> Username </div>
                                        <div class="search-value">
                                            <input type="text" id="form-field-1" placeholder="Username" class="search-text">
                                        </div>
                                    </div>

                                     <div class="search-form col-md-4 col-sm-6">
                                        <div class="search-title"> Username </div>
                                        <div class="search-value">
                                            <input type="text" id="form-field-1" placeholder="Username" class="search-text">
                                        </div>
                                    </div>

                                     <div class="search-form col-md-4 col-sm-6">
                                        <div class="search-title"> Username </div>
                                        <div class="search-value">
                                            <input type="text" id="form-field-1" placeholder="Username" class="search-text">
                                        </div>
                                    </div>

                                    <div class="search-form col-md-12 right">
                                    <div class="search-title">
                                        <button type="button" class="btn btn-sm btn-success">
                                            查询
                                            <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                                        </button>
                                    </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- end search -->

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <table id="datatable" url="/data/user/List" ></table>

                                <div id="datapager"></div>

                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

        <!-- jgrid -->
        <script type="text/javascript">

        jQuery(function($) {
                var dataGrid = new DataGrid({  
                    title: '用户管理',
                    tableName: 'datatable',  
                    pageName: 'datapager', 
                    // 设置数据表格列
                    columnModel: [  
                        {name:'Id',index:'Id',hidden:true,key:true},
                        {label:'用户名称',name:'UserName',index:'UserName',align:"center",width:100},
                        {label:'真实姓名',name:'RealName',index:'RealName',align:"center",width:100},
                        {label:'邮箱',name:'Email',index:'Email', width:100},
                        {label:'联系电话',name:'Phone',index:'Phone', width:100},
                        {label:'添加人',name:'AddUser',index:'AddUser',align:"center", width:100},
                        {label:'添加时间',name:'AddTime',index:'AddTime',align:"center", width:150,formatter: 'date',formatoptions:{srcformat: 'Y-m-dTH:i:s',newformat: 'Y-m-d H:i:s'}}
                    ]
                });
                $(".search-button").click(function(){
                    if ($(".table-detail").css("display") == 'none'){
                        $(this).children("span").text("收起查询")
                    }else{
                        $(this).children("span").text("展开查询")
                    }
                    $(".table-detail").slideToggle("slow");
                    
                });
        }); 

        function editUser(){
            var ids = DataGrid.getSelectRowIds("datatable");
            
            if (ids.length == 0){
                BootFrame.alert("请选择要修改的用户");
                return;
            }
            var bf = BootFrame.dialog();
            bf.title("修改用户");
            bf.url('/data/user/InitPage?Id='+ids[0]);
            bf.width(400);
            bf.height(300);
            bf.addButton("确认",save,null,13);
            bf.show();
        }

       function addUser(){
           var bf = BootFrame.dialog();
            bf.title("新建用户");
            bf.url('/data/user/InitPage');
            bf.width(400);
            bf.height(350);
            bf.addButton("确认",save,null,13);
            bf.show();
       }

        function save(bf,but){ //默认接收两个参数，1 BootFrame ，2 当前按钮
            bf.verifyForm();
            // but.disable();  //禁止点击按钮
            // but.spin();     //增加按钮等待图标
            // SendData.Post("/data/user/Save",bf.getFormData(),function(response){
            //     if ( response.STATUS==1){
            //         BootFrame.alert(response.MESSAGE,function(){
            //             DataGrid.loadData('datatable');
            //             bf.close()
            //         });
            //     }else{
            //         BootFrame.alert(response.MESSAGE,function(){
            //             but.enable();   //解除按钮点击
            //             but.stopSpin(); //清楚等待图标
            //         },"操作失败",true);
            //     }
            // });
        }

        function delUser(){
            var ids = DataGrid.getSelectRowIds("datatable");
            
            if (ids.length == 0){
                BootFrame.alert("请选择要删除的用户");
                return;
            }
            BootFrame.confirm("您确定要删除这些用户吗？", function(){
                var map = new Map();
                map.put("Ids", ids)
                SendData.Post("/data/user/Del",map,function(response){
                if ( response.STATUS==1){
                    BootFrame.alert(response.MESSAGE,function(){
                        DataGrid.loadData('datatable');
                    });
                }else{
                    BootFrame.alert(response.MESSAGE,null,"操作失败",true);
                }
            });
            });
        }
             
        </script>
